@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #0e0f11;
  color-scheme: dark;
}

body {
  color: #f2f3f5;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #2e3138;
  border-radius: 3px;
}
